<%= form_for @keyword_reply, html: {class: "form-horizontal"} do |f| %>
  <% if @keyword_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword_reply.errors.count, "error") %> prohibited this keyword_reply from being saved:</h2>

      <ul>
      <% @keyword_reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>

    <div class="control-group">
      <%= f.label :keyword, "关键词", class: "control-label"  %>
      <div class="controls">
        <%= f.text_field :keyword %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :reply_content, "回复内容", class: "control-label"  %>
      <div class="controls">
        <%= f.text_area :reply_content, class: "big_textarea" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :news_id, "图文编号", class: "control-label"  %>
      <div class="controls">
        <%= f.number_field :news_id, class: "" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "提交", class: "btn btn-primary" %>
      </div>
    </div>
	</fieldset>
<% end %>

