<%= render "shared/news_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_audio_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th>描述</th>
      <th>音频</th>
      <th>音频地址（原始）</th>
      <th>音频地址（wav）</th>
      <th>音频地址（m3u8）</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% @audios.each do |it| %>
    <tr>
      <td><span class="badge badge-success"><%=it.id%></span></td>
      <td><%= it.title%></td>
      <td><%= it.description%></td>
			<td><%= audio_tag it.audio_url_wav, autoplay: false, controls: true%></td>
			<td><%= it.audio_url_origin %></td>
			<td><%= it.audio_url_wav %></td>
      <td><%= it.audio_url_m3u8 %></td>
      <td>
				<%=link_to raw("<i class='icon-folder-open'></i>"), it%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-edit'></i>"), edit_audio_path(it)%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-remove'></i>"), it, method: :delete, data: {confirm: "确认删除？"} %>
      </td>
    </tr>
	<% end %>
  </tbody>
</table>

<%=paginate @audios%>
