<%= render "shared/news_menu" %>

<p>
  <b>标题:</b>
  <%= @audio.title %>
</p>

<p>
  <b>音频:</b>
	<%= audio_tag @audio.audio_url_wav, autoplay: false, controls: true%>
</p>


<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>

