<%= form_for(@weixin_user, html: {class: "form-inline"}) do |f| %>
  <% if @weixin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weixin_user.errors.count, "error") %> prohibited this weixin_user from being saved:</h2>

      <ul>
      <% @weixin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    用户ID： <%= @weixin_user.id %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    微信帐号： <%= f.text_field :weixin_id%>
    <br /> <br />
    性别： <%= f.select :sex, options_for_select([["女",false],["男",true]],@weixin_user.sex), include_blank: true%>
    &nbsp; &nbsp; &nbsp; &nbsp;
    年龄： <%= f.select :age, options_for_select([["小于20岁",0],["20-30岁",1],["30-40岁",2],["40-50岁",3],["大于50岁",4]],@weixin_user.age), include_blank: true%>
    <br /> <br />

    <div class="actions">
      <%= f.submit "提交", class: "btn btn-primary"%>
    </div>
  </fieldset>
<% end %>

