<%= render "shared/weixin_users_menu" %>

<p>
  <b>用户ID:</b>
  <%= @weixin_user.id %>
</p>

<p>
  <b>微信帐号:</b>
  <%= @weixin_user.weixin_id %>
</p>

<p>
  <b>性别:</b>
  <%= @weixin_user.sex_name %>
</p>

<p>
  <b>年龄:</b>
  <%= @weixin_user.age_range %>
</p>

<p>
  <b>地址:</b>
  <%="x: #{@weixin_user.location_x}, y: #{@weixin_user.location_y}, s: #{@weixin_user.scale}"%>
</p>

<p>
  <b>用户类型:</b>
  <%= @weixin_user.category_list %>
</p>

<p>
  <b>用户标签:</b>
  <%= @weixin_user.tag_list %>
</p>

<%= link_to 'Edit', edit_weixin_user_path(@weixin_user), class: "btn btn-primary" %> 
<%= link_to 'Back', weixin_users_path, class: "btn" %>
