  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount><%=@news.items.count+1%></ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[<%=@news.title%>]]></Title> 
      <Description><![CDATA[<%=@news.description.to_s.truncate(100)%>]]></Description>
      <PicUrl><![CDATA[<%=@news.pic_url%>]]></PicUrl>
      <Url><![CDATA[<%=@news.url%>]]></Url>
    </item>
    <% @news.items.each do |it| %>
      <item>
        <Title><![CDATA[<%=it.title%>]]></Title> 
        <Description><![CDATA[<%=it.description.to_s.truncate(100)%>]]></Description>
        <PicUrl><![CDATA[<%=it.pic_url%>]]></PicUrl>
        <Url><![CDATA[<%=it.url%>]]></Url>
      </item>
    <% end %>
  </Articles>
