  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>1</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[<%=@activity.title%>]]></Title> 
      <Description><![CDATA[<%=@activity.description.to_s.truncate(100)%>]]></Description>
      <PicUrl><![CDATA[<%=@activity.pic_url%>]]></PicUrl>
      <Url><![CDATA[<%=others_djq_url(sn_code: @coupon.sn_code)%>]]></Url>
    </item>
    <item>
      <Title><![CDATA[发送【zl】，录入您的个人资料，成为我们的忠实粉丝，会有更多惊喜等着你哦]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[<%=image_path("djq_mini.png")%>]]></PicUrl>
      <Url><![CDATA[<%=others_djq_url(sn_code: @coupon.sn_code)%>]]></Url>
    </item>
  </Articles>
