<% render "shared/shops_menu" %>

<p>
  <b>店名:</b>
  <%= @shop.name %>
</p>

<p>
  <b>地址:</b>
  <%= @shop.address %>
</p>

<p>
  <b>电话:</b>
  <%= @shop.phone_number %>
</p>
<p>
  <b>维度:</b>
  <%= @shop.latitude %>
  &nbsp;
  <b>经度:</b>
  <%= @shop.longitude %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
