
<p>
  <b>Weixin user:</b>
  <%= @hd_dzp_history.weixin_user_id %>
</p>

<p>
  <b>Sn code:</b>
  <%= @hd_dzp_history.sn_code %>
</p>

<p>
  <b>Status:</b>
  <%= @hd_dzp_history.status %>
</p>

<p>
  <b>Used at:</b>
  <%= @hd_dzp_history.used_at %>
</p>

<p>
  <b>Prize:</b>
  <%= @hd_dzp_history.prize %>
</p>

