<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title, "文章名" %>
    <%= f.text_field :title %>
    <br />

    <%= f.label :content, "文章全文" %>
    <%= f.kindeditor :content %>
  </fieldset>

  <hr />

  <%= f.submit "提交", class: "btn btn-primary btn-large right" %>

<% end %>
