<%= render "shared/articles_menu" %>

<p>
  <b>文章名:</b>
  <%= @article.title %>
</p>

<p>
  <b>文章全文:</b>
</p>
<%=raw @article.content %>

<br />
<br />


<%= link_to '编辑', edit_article_path(@article) %> |
<%= link_to '预览', pres_article_path(@article), target: "_blank" %>
