<%= render "shared/news_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_reply_text_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>文本</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% @reply_texts.each do |it| %>
    <tr>
      <td><span class="badge badge-success"><%=it.id%></span></td>
      <td>
        <pre>
<%= it.content%>
        </pre>
      </td>
      <td>
				<%=link_to raw("<i class='icon-folder-open'></i>"), it%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-edit'></i>"), edit_reply_text_path(it)%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-remove'></i>"), it, method: :delete, data: {confirm: "确认删除？"} %>
      </td>
    </tr>
	<% end %>
  </tbody>
</table>

<%=paginate @reply_texts%>
