<% content_for :header_menu do %>
  <!-- <ul class="nav">
    <li> <%=link_to "xxx", root_path%> </li>
  </ul> -->
<% end %>

<table class="table table-bordered">
	<tr>
		<th>用户ID</th>
		<th>用户微信ID</th>
		<th>性别</th>
		<th>年龄</th>
		<th>地址</th>
		<th></th>
	</tr>
	<% @weixin_users.each do |it| %>
		<tr>
			<td><%=it.id%></td>
			<td><%=it.weixin_id%></td>
			<td><%=it.sex_name%></td>
			<td><%=it.age_range%></td>
			<td><pre><%="location_x: #{it.location_x}\nlocation_y: #{it.location_y}\nscale: #{it.scale}"%></pre></td>
			<td>
			</td>
		</tr>
	<% end %>
</table>
