<%= render "shared/coupons_menu" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>SN码</th>
      <th>客户ID</th>
      <th>微信帐号</th>
      <th>派发时间</th>
			<th>使用时间</th>
      <th>状态</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @coupons.each do |it| %>
      <tr>
        <td><%= it.sn_code %></td>
        <td><%= it.weixin_user_id %></td>
        <td><%= WeixinUser.find_by_id(it.weixin_user_id).try(:weixin_id) %></td>
        <td><%= it.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= it.used_at.strftime("%Y-%m-%d %H:%M") if it.used_at %></td>
        <td><%= it.status %></td>
        <td><%= link_to raw("<i class='icon-search'></i>"), it %></td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>

