<%= render "shared/news_menu" %>

<p>
  <b>标题:</b>
  <%= @video.title %>
</p>

<p>
  <b>视频:</b>
  <%= video_tag @video.video_url_ogg_wifi, controls: true%>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
