<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav nav-pills">
			<li>
				<%=link_to raw("<i class='icon-home icon-black'></i>"), root_path%>
			</li>
			<li class="dropdown">
				<%=link_to raw("<i class='icon-chevron-down icon-black'></i>"), "#", data: {toggle: "dropdown"}, class: "dropdown-toggle"%>
				<ul class="dropdown-menu">
					<li></li>
				</ul>
			</li>
		</ul>

    <%= yield :header_menu %>

		<ul class="nav">
			<li class="<%=current_nav_item_state('weixin_users')%>"> <%=link_to "微信用户", weixin_users_path%> </li>
			<li class="<%=current_nav_item_state('qa_steps')%>"> <%=link_to "用户信息采集", qa_steps_path%> </li>
			<li class="<%=current_nav_item_state('keyword_replies')%>"> <%=link_to "关键词回复", keyword_replies_path%> </li>
      <li class="<%=current_nav_item_state('news')%>"> <%=link_to "素材管理", news_index_path%> </li>
      <li class="<%=current_nav_item_state('activities')%>"> <%=link_to "优惠活动", activities_path%> </li>
			<li class="<%=current_nav_item_state('shops')%>"> <%=link_to "门店管理", shops_path%> </li>
			<li class="<%=current_nav_item_state('statistics')%>"> <%=link_to "统计", statistics_path%> </li>
			<li class="<%=current_nav_item_state('settings')%>"> <%=link_to "设置", settings_path%> </li>
		</ul>
	</div>
</div>
