<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav nav-pills">
			<li>
				<%=link_to raw("<i class='icon-home icon-black'></i>"), root_path%>
			</li>
			<li class="dropdown">
				<%=link_to raw("<i class='icon-chevron-down icon-black'></i>"), "#", data: {toggle: "dropdown"}, class: "dropdown-toggle"%>
				<ul class="dropdown-menu">
					<li></li>
				</ul>
			</li>
		</ul>

    <%= yield :header_menu %>

		<ul class="nav">
			<li> <%=link_to "关键词统计", stats_keywords_path%> </li>
			<li> <%=link_to "用户信息汇总", stats_weixin_users_path%> </li>
			<li> <%=link_to "用户录入流程", qa_steps_path%> </li>
			<li> <%=link_to "关键词回复库", keyword_replies_path%> </li>
		</ul>
	</div>
</div>
