<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<ul class="nav">
				<li>
					<%=link_to raw("<i class='icon-home icon-black'></i>"), root_path, class: ""%>
				</li>
				<!-- <li class="dropdown">
					<%=link_to raw("<i class='icon-chevron-down icon-black'></i>"), "#", data: {toggle: "dropdown"}, class: "dropdown-toggle"%>
					<ul class="dropdown-menu">
						<li></li>
					</ul>
				</li> -->
				<li class="divider-vertical"></li>
			</ul>

			<%#= yield :header_menu %>

			<ul class="nav">
				<li class="<%=current_nav_item_state('weixin_users')%>"> <%=link_to "微信用户", weixin_users_path%> </li>
				<li class="<%=current_nav_item_state('qa_steps')%>"> <%=link_to "用户信息采集", qa_steps_path%> </li>
				<li class="<%=current_nav_item_state('keyword_replies')%>"> <%=link_to "关键词回复", keyword_replies_path%> </li>
				<li class="<%=current_nav_item_state(['news','reply_texts','articles','audios','videos','pictures'])%>"> <%=link_to "素材管理", list_news_index_path%> </li>
				<!-- <li class="<%=current_nav_item_state('articles')%>"> <%=link_to "文章", articles_path%> </li> -->
				<li class="<%=current_nav_item_state(['hd/ggks','hd/ggk_histories'])%>"> <%=link_to "活动", event_types_path%> </li>
				<li class="<%=current_nav_item_state('shops')%>"> <%=link_to "门店管理", shops_path%> </li>
				<li class="<%=current_nav_item_state('statistics')%>"> <%=link_to "统计", chart_messages_statistics_path%> </li>
				<li class="<%=current_nav_item_state('settings')%>"> <%=link_to "设置", settings_path%> </li>
			</ul>


			<%= render "shared/header_user" %>
		</div>
	</div>
