<% content_for :menu do %>
  <ul class="nav nav-list bs-docs-sidenav affix">
    <li><%=link_to raw(" 素材管理 "), "#", class: "nav-header"%></li>
    <li class="<%=current_menu_item_state('list')%>"><%=link_to raw(" <i class='icon-chevron-right'></i>图文库列表 "), list_news_index_path, class: ""%></li>
    <li class="<%=current_menu_item_state('index',"news")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>图文库预览 "), news_index_path, class: ""%></li>
    <li class="<%=current_nav_item_state("reply_texts")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>文本库 "), reply_texts_path, class: ""%></li>
    <li class="<%=current_nav_item_state("audios")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>音频库 "), audios_path, class: ""%></li>
    <li class="<%=current_nav_item_state("videos")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>视频库 "), videos_path, class: ""%></li>
    <li class="<%=current_nav_item_state("pictures")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>图片库 "), pictures_path, class: ""%></li>
    <li class="<%=current_nav_item_state("articles")%>"><%=link_to raw(" <i class='icon-chevron-right'></i>文章库 "), articles_path, class: ""%></li>
  </ul>
<% end %>
