<div class="row-fluid">
  <div class="span4">
		<%= render "preview", {news: @event}%>
  </div>

  <div class="span8">
    <%= form_for @event, html: {class: "news_form"} do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

			<fieldset>
				<%= f.label :category, "活动类型", class: "event_category" %>
				<%= f.select :category, options_for_select(Event::CategoryForSelect), {}, {include_blank: true, class: "input-small"} %>
				<br />
				<br />

				<%= f.label :title, "标题", class: "" %>
				<%= f.text_field :title, placeholder: "请输入标题", id: "news_title", class: "input-large"%>
				<br />
				<br />

				<%= f.label :description, "描述", class: ""%>
				<%= f.text_area :description, id: "news_desc", class: "news_desc", rows: 2%>
				<br />
				<br />

				<%= f.label :pic, "图片", class: ""%>
				<%=render "shared/file_uploader", {f: f, qiniu_file_uuid: SecureRandom.uuid}%> 
				<br />

				<hr />

				<%= f.label :max_random, "预计参与人次", class: ""%>
				<%= f.number_field :max_random,  class: "input-small"%>
				<br />
				<br />
				<%= f.label :max_luck, "奖项总数", class: ""%>
				<%= f.number_field :max_luck, class: "input-small"%>
				<br />

			</fieldset>

			<br />
			<%= f.submit "完成", class: "btn btn-primary btn-large pull-left" %>

    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  upload_news_pic()
  auto_preview_news()
<% end %>
