<div class="news_thumbnail">
  <div class="thumbnail">
		<%= render "events/toolbar", {news: news} %>
    <h6><%=link_to news.title||"标题", news.safe_url, id: "preview_news_title"%></h6>
    <div class="cover" id="preview_news_pic">
      <% if news.pic_uuid %>
        <%= image_tag news.pic_url, data: {src: "holder.js/640x320"}, alt: ""%>
      <% else %>
        <p class="default_tip">封面图片</p>
      <% end %>
    </div>
      <table class="table table-hover news_items_table">
        <tr>
          <td>
            <p id="preview_news_desc">
              <%=news.description%>
            </p>
          </td>
        </tr>
      </table>
  </div>
</div>
<%= javascript_tag do %>
	auto_show_news_toolbar()
<% end %>
