<div class="row-fluid">
  <div class="span4">
		<%= render "preview", {news: @news}%>
  </div>

  <div class="span8">
    <%= form_for @news, html: {class: "news_form"} do |f| %>
      <% if @news.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

          <ul>
            <% @news.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

			<fieldset>
				<%= f.label :title, "标题", class: "" %>
				<%= f.text_field :title, placeholder: "请输入标题", id: "news_title", class: "input-large"%>
				<br />
				<br />

				<%= f.label :pic, "图片", class: ""%>
				<%=render "shared/file_uploader", {f: f, qiniu_file_uuid: SecureRandom.uuid}%> 
				<br />
				<br />

				<%= f.label :description, "正文", class: ""%>
				<%= f.text_area :description, id: "news_desc", class: "news_desc", rows: 2%>
				<br />
				<br />

				<%= f.label :url, "链接", class: ""%>
				<%= f.text_field :url, class: "input-xxlarge" %>

				<%= f.submit "完成", class: "btn btn-primary btn-large right" %>
			</fieldset>

    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  upload_news_pic()
  auto_preview_news()
<% end %>
