<%= form_for @news, html: {class: "form-horizontal"} do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :title, "标题", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :pic_url, "图片地址", class: "control-label"%>
      <div class="controls">
        <%= f.text_field :pic_url%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, "正文", class: "control-label"%>
      <div class="controls">
        <%= f.text_area :description, class: "big_textarea"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :url, "链接", class: "control-label"%>
      <div class="controls">
        <%= f.text_field :url%>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "完成", class: "btn btn-primary btn-large" %>
        &nbsp; &nbsp;
        <%= link_to '取消', news_index_path, class: "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
