<%= render "shared/news_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_news_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<div class="row-fluid">
  <ul class="thumbnails">
    <% @news.each do |it| %>
      <li class="span4">
        <div class="thumbnail">
          <%= image_tag it.pic_url, data: {src: "holder.js/200x300"}, alt: ""%>
          <h3><%=link_to it.title, it.url%></h3>
          <table class="table table-bordered">
            <% it.items.each do |itt| %>
              <tr>
                <td><%=link_to itt.title, itt.url%></td>
                <td><%= image_tag itt.pic_url, data: {src: "holder.js/10x10"}, alt: "", class: "mini_img"%></td>
              </tr>
            <% end %>
          </table>
					<ul class="nav nav-pills">
						<li><%=link_to "查看", it%></li>
						<li><%=link_to "编辑", edit_news_path(it)%></li>
						<li><%=link_to "删除", it, method: :delete, data: {confirm: "确认删除？"} %></li>
					</ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>

