<%= render "shared/news_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_news_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<div class="news_waterfall">
	<% @news.each do |it| %>
		<div class="thumbnail">
			<p class="news_toolbar">
				<span class="badge badge-success"><%=it.id%></span>
				<%=link_to raw("<i class='icon-remove'></i>"), it, method: :delete, data: {confirm: "确认删除？"} %>
				<%=link_to raw("<i class='icon-edit'></i>"), edit_news_path(it)%>
				<%=link_to raw("<i class='icon-folder-open'></i>"), it%>
			</p>
			<h6><%=link_to it.title, it.url%></h6>
			<%= image_tag it.pic_url, data: {src: "holder.js/639x359"}, alt: ""%>
			<table class="table table-hover news_items_table">
				<% it.items.each do |itt| %>
					<tr>
						<td><%=link_to itt.title, itt.url%></td>
						<td><%= image_tag itt.pic_url, data: {src: "holder.js/10x10"}, alt: "", class: "mini_img"%></td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>

<%=paginate @news%>

<%= javascript_tag do %>
	auto_show_news_toolbar()
	news_waterfall()
<% end %>
