<%= render "shared/news_menu" %>

<div class="thumbnail">
	<%= image_tag @news.pic_url, data: {src: "holder.js/200x300"}, alt: ""%>
	<h3><%=link_to @news.title, @news.url%></h3>
	<p><%=@news.description%></p>
	<table class="table table-bordered">
		<% @news.items.each do |itt| %>
			<tr>
				<td><%=link_to itt.title, itt.url%></td>
				<td><%= image_tag itt.pic_url, data: {src: "holder.js/10x10"}, alt: "", class: "mini_img"%></td>
			</tr>
		<% end %>
	</table>
  <ul class="nav nav-pills">
    <li><%=link_to "查看", @news%></li>
    <li><%=link_to "编辑", edit_news_path(@news)%></li>
    <li><%=link_to "删除", @news, method: :delete, data: {confirm: "确认删除？"} %></li>
  </ul>
  <p> ID: <%=@news.id%></p>
</div>

<%#= link_to 'Edit', edit_news_path(@news) %> |
<%#= link_to 'Back', news_index_path %>
