<%= render "shared/news_menu" %>

<div class="thumbnail">
	<%= image_tag @news.pic_url, data: {src: "holder.js/200x300"}, alt: ""%>
	<h3><%=link_to @news.title, @news.url%></h3>
	<p><%=@news.description%></p>
	<table class="table table-bordered">
		<% @news.items.each do |itt| %>
			<tr>
				<td><%=link_to itt.title, itt.url%></td>
				<td><%= image_tag itt.pic_url, data: {src: "holder.js/10x10"}, alt: "", class: "mini_img"%></td>
			</tr>
		<% end %>
	</table>
</div>

<%#= link_to 'Edit', edit_news_path(@news) %> |
<%#= link_to 'Back', news_index_path %>
