<%= render "shared/settings_menu" %>

微信开发模式配置信息：
<br />
<br />

URL: http://testweixin.bbtang.com/message/io
<br />
Token: 181920


<br />
<br />
<%= form_for @setting, html: {class: "form-horizontal"} do |f| %>
	<% if @setting.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

			<ul>
				<% @setting.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<fieldset>
		<div class="control-group">
			<%= f.label :weixin_id, "公众号ID", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :weixin_id, rows: 3%>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :welcome_message, "订阅欢迎语", class: "control-label" %>
			<div class="controls">
				<%= f.text_area :welcome_message, rows: 3%>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :default_message, "默认回复", class: "control-label" %>
			<div class="controls">
				<%= f.text_area :default_message, rows: 3%>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= f.submit "保存", class: "btn btn-primary" %>
			</div>
		</div>
	</fieldset>
<% end %>

