<%= render "shared/settings_menu" %>


<div class="form-horizontal">
</div>



<%= form_for @setting, html: {class: "form-horizontal"} do |f| %>
	<% if @setting.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

			<ul>
				<% @setting.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  <legend>微信开发模式-接口配置信息</legend>
  <fieldset>
    <div class="control-group">
      <%=f.label :url, "URL:", class: "control-label"%>
      <div class="controls"><%=text_field_tag :url, message_api_url(@setting.user_id), readonly: true%></div>
    </div>
    <div class="control-group">
      <%=f.label :token, "Token:", class: "control-label"%>
      <div class="controls"><%=f.text_field :token, placeholder: "必须为英文或字符，长度为3～32字符" %></div>
    </div>
  </fieldset>

  <br />
  <legend>基础配置信息</legend>
  <fieldset>
    <!-- <div class="control-group">
      <%= f.label :weixin_id, "公众号ID", class: "control-label" %>
      <div class="controls">
				<%= f.text_field :weixin_id, rows: 3%>
			</div>
		</div> -->
		<div class="control-group">
			<%= f.label :welcome_message, "订阅欢迎语", class: "control-label" %>
			<div class="controls">
				<%= f.text_area :welcome_message, rows: 3%>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :default_message, "默认回复", class: "control-label" %>
			<div class="controls">
				<%= f.text_area :default_message, rows: 3%>
			</div>
		</div>
	</fieldset>

  <hr />
  <div class="control-group">
    <div class="controls">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

