<%= render "shared/events_menu" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>微信用户ID</th>
      <th>SN码</th>
      <th>获奖</th>
      <th>状态</th>
      <th>使用日期</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @hd_scratch_cards.each do |it| %>
      <tr>
        <td><%= it.id %></td>
        <td><%= it.weixin_user_id %></td>
        <td><%= it.sn_code %></td>
        <td><%= it.prize %></td>
        <td><%= it.status %></td>
        <td><%= it.used_at.strftime("%Y-%m-%d %H:%M") if it.used_at %></td>
        <td><%= link_to raw("<i class='icon-folder-open'></i>"), it %></td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>
