<%=render "shared/auth_logo"%>

<legend>登录</legend>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),html: {class: "form-horizontal"}) do |f| %>
  <fieldset>
    <div class="control-group">
      <%=f.label :email, "Email:", class: "control-label"%>
      <div class="controls"><%=f.email_field :email, autofocus: true%></div>
    </div>
    <div class="control-group">
      <%=f.label :password, "Password:", class: "control-label"%>
			<div class="controls">
				<%=f.password_field :password %>
			</div>
    </div>
		<% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <%=f.label :remember_me, "Remember me:", class: "control-label"%>
			<div class="controls">
				<%= f.check_box :remember_me %>
			</div>
    </div>
		<% end -%>
  </fieldset>

	<hr />
	
  <%= f.submit "Sign in", class: "btn btn-primary btn-large pull-left" %>


<% end %>

<div class="pull-right">
<%= render "devise/shared/links" %>
</div>
