<%= render "shared/news_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_picture_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>小图预览</th>
      <th>原始图片地址</th>
      <th>微信图文大图地址</th>
      <th>微信图文小图地址</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% @pictures.each do |it| %>
    <tr>
      <td><%= it.id%></td>
      <td><%=image_tag it.pic_url_small%></td>
      <td><%= it.pic_url_origin%></td>
      <td><%= it.pic_url_large%></td>
      <td><%= it.pic_url_small%></td>
      <td>
				<%=link_to raw("<i class='icon-folder-open'></i>"), it%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-edit'></i>"), edit_picture_path(it)%>
        &nbsp; &nbsp;
				<%=link_to raw("<i class='icon-remove'></i>"), it, method: :delete, data: {confirm: "确认删除？"} %>
      </td>
    </tr>
	<% end %>
  </tbody>
</table>

<%=paginate @pictures%>
