<%= form_for(@hd_ggk) do |f| %>
  <% if @hd_ggk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hd_ggk.errors.count, "error") %> prohibited this hd_ggk from being saved:</h2>

      <ul>
      <% @hd_ggk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :pic_uuid %><br />
    <%= f.text_field :pic_uuid %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :max_random %><br />
    <%= f.number_field :max_random %>
  </div>
  <div class="field">
    <%= f.label :max_luck %><br />
    <%= f.number_field :max_luck %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
