<%= render "shared/events_menu" %>

<%=link_to raw(" <i class='icon-plus'></i>新增 "), new_hd_ggk_path, class: "btn btn-primary right"%>
<br />
<br />
<div style="clear:both;"></div>

<div class="news_waterfall">
	<% @hd_ggks.each do |it| %>
		<div class="thumbnail">
			<%= render "toolbar", {news: it} %>
			<h6><%=link_to it.title, it.url%></h6>
			<%= image_tag it.pic_url, data: {src: "holder.js/639x359"}, alt: ""%>
      <table class="table table-hover news_items_table">
        <tr>
          <td>
            <p id="preview_news_desc">
              <%=it.description%>
            </p>
          </td>
        </tr>
      </table>
		</div>
	<% end %>
</div>

<%#=paginate @hd_ggks%>

<%= javascript_tag do %>
	auto_show_news_toolbar()
	news_waterfall()
<% end %>
