<h1>Listing hd_ggks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Pic uuid</th>
    <th>Url</th>
    <th>Max random</th>
    <th>Max luck</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hd_ggks.each do |hd_ggk| %>
  <tr>
    <td><%= hd_ggk.title %></td>
    <td><%= hd_ggk.description %></td>
    <td><%= hd_ggk.pic_uuid %></td>
    <td><%= hd_ggk.url %></td>
    <td><%= hd_ggk.max_random %></td>
    <td><%= hd_ggk.max_luck %></td>
    <td><%= link_to 'Show', hd_ggk %></td>
    <td><%= link_to 'Edit', edit_hd_ggk_path(hd_ggk) %></td>
    <td><%= link_to 'Destroy', hd_ggk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ggk', new_hd_ggk_path %>
