<!DOCTYPE html>
<html>
<head>
  <title>WeiXin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render "shared/header"%>
	</header>

  <section id="main">
    <div class="container-fluid">
      <div class="span2 bs-docs-sidenav">
        <%= yield :menu %>
      </div>

      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </section>

	<footer>
		<%= render "shared/footer"%>
	</footer>

</body>
</html>
<!DOCTYPE html>
<html>

